VisualStudio.gitignore
.vscode/settings.json
cleaned_dataset/*.csv
dataset/*.csv
webapp/__pycache__/*

webapp/data/__pycache__/cypher_queries.cpython-311.pyc
webapp/data/__pycache__/neo4j_connection.cpython-311.pyc
webapp/data/__pycache__/postgresql_connection.cpython-311.pyc
pg_backup/pg
__pycache__/create_location.cpython-311.pyc
__pycache__/main.cpython-311.pyc
__pycache__/wsgi.cpython-311.pyc
webapp/presentation/__pycache__/controller.cpython-311.pyc
webapp/service/__pycache__/service.cpython-311.pyc
dataset_cleaner/__pycache__/create_location.cpython-311.pyc
