<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script src="https://unpkg.com/htmx.org@1.9.4"></script>

    <title>{% block title %}Search book{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="user" href="/similar-user">Search by user id</a>
          <a class="nav-item nav-link" id="book" href="/search-book">Search book</a>
          <a class="nav-item nav-link" id="top" href="/top-ten">Top 10 in the world</a>
          <a class="nav-item nav-link" id="insert" href="/insert-book">Insert a new book</a>
        </div>
      </div>
    </nav>



    <div class="container">
      
      {% block content %}
      <div class="container mt-3" size="+1">This web page is a simple demo of how you can use a NoSQL database like neo4j to build a book collaborative filtering recommendation system. 
        The data set used can be found <a href="https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset?select=Books.csv">here</a>. In the "search by user" section you 
        can enter a user's code and obtain a list of suggested books based on similarities with other users. The similarity score is a score that was obtained through algorithms such as FastRP and KNN, 
        for more information see <a href="https://neo4j.com/docs/graph-data-science/current/end-to-end-examples/fastrp-knn-example/">here</a>. In the other section
        you can simply search book by title. In "Top 10" you can get the most rated book for the first 10 countries in the dataset </font>
      
      {% endblock %}
  </div>
    
    
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>


  </body>
</html>