{% extends "base.html" %} {% block title %}Top ten{% endblock %} {% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book by user search</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script src="https://unpkg.com/htmx.org@1.9.4"></script>
</head>
<body>
    <section class="section">
        <div class="columns">
        <div class="column is-one-third is-offset-one-third">
                
        </div>
        </div>
        <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Country</th>
                <th>Book title</th>
            </tr>
            {% for result in results %}
            <tr>
                <td>{{ result.country }}</td>
                <td>{{ result.title }}</td>
                
            </tr>
            {% endfor %}
        </thead>
        <tbody id="results">

        </tbody>
        </table>
    </section>
</body>

{% endblock %}